.og-view-toolbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
  
  &.left {
    justify-content: flex-start;
  }
  
  &.center {
    justify-content: center;
  }
  
  &.right {
    justify-content: flex-end;
  }
  
  &.space-between {
    justify-content: space-between;
  }
  
  .og-toolbar-left {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  
  .og-toolbar-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
  }
}